<div id="rejected" class="rejected-container">
    <p>
       Oops. Another NodeLab instance has been started.
       <br />Using more than one instance per user is currently not supported.
    </p>
</div>
