name = "pacman"

version = "1.1.0-ajg"

source = [
    ["x86", "http://uri/to/package"],
    ["amd", "uri/amd"]
]

install = [
    "unpack",
    "configure",
    "build"
]

intlist = [1,2,6,4,3]

uninstall = [
    "rm $(HOME)/.pacman",
    "rm $(HOME)/.pacman"
]


dependencies = [
    ["stdlib.h", "< 0-hello >= 14.3.2-ultra-stable"],
    ["stdio.h","< 1.2"],
    ["blo"]
]