[submodule "tools/graphics/webghci"]
    path = tools/graphics/webghci
    url = https://github.com/flowbox-public/WebGHCI.git
[submodule "third-party/cufft"]
    path = third-party/cufft
    url = https://github.com/flowbox-public/cufft.git
[submodule "third-party/cuda"]
    path = third-party/cuda
    url = https://github.com/flowbox-public/cuda.git
