dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv
*~


# emacs backup files
.\#*
\#*\#

# eclipse files
.dist-buildwrapper/
.project
.settings

# haste compilation files
.jsmod

# python files
*.py[cod]
