constraints:    monad-control < 1.0.0.0,
                transformers == 0.3.0.0,
                transformers-compat +three,
                utf8-string >=0.3.6 && <0.4


-- [PM] monad-control < 1.0.0.0 is added until https://github.com/worksap-ate/aws-sdk/issues/183 is resolved
-- [PM] transformers == 0.3.0.0 and transformers-compat +three is required by ghc-7.8.3 library
-- [PM] utf8-string >=0.3.6 && <0.4 is required by trifecta
