.tutorial-bkg {
  position: fixed;
  z-index:-1;
  background: black;
  opacity: 0.5;
  top:0;
  bottom:0;
  right:0;
  left:0;
}
.tutorial-box {
  position: fixed;
  z-index: 2000;
  background: #666;
  border-radius: 20px;
  opacity: 0.9;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  padding: 10px 20px;
  outline: none;

  .kbd {
    float: right;
    width: 40%;
    padding-left: 30px;
    box-sizing: border-box;
  }
  td {
    padding-right: 10px;
  }
}

.help-buttons {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 30;
  a {
    padding: 5px 10px;
    background: #555;
    font-weight: normal;
    font-size: 11px;
    border-radius: 5px;
    cursor: pointer;
    color: #ddd;
    text-decoration: none;
    &:hover {
      color: white;
    }

  }
}

/* onboarding */

#onboarding {
    flex: none;
    position: fixed;
    z-index: 1000;
    bottom: 10px;
    left: 10px;
    code {
        &.k {
            padding: 4px 6px 3px;
            background: #000;
            color: #fff;
            border-radius: 3px;
            font-size: 11px;
        }
    }
}

.tour {
  position: absolute;
  bottom: 10px;
  transition: opacity .5s ease;
}

.tour__modal {
    background: #282828;
    border-radius: 3px;
    position: relative;
    width: 380px;
    font-size: 14px;
    code {
        color: green;
    }
    .stc {
        color: #fff;
    }
}

.tour__step__img {
    padding: 10px 10px 0;
}
.tour__step__img img {
    display: block;
    max-width: 100%;
    height: auto;
}

.tour__step__info {
    padding: 10px;
    color: #aaa;
}

.tour__footer {
    display: flex;
    padding: 10px;
    font-size: 12px;
    a {
        text-decoration: none;
    }
}

.tour__step-counter,
.tour__exit {
    color: #fff;
    flex-basis: 50%;
}

.tour__step-counter__snd {
    opacity: .5;
}

.tour__exit {
    text-align: right;
    opacity: .15;
}

.tour__exit:hover {
    opacity: 1;
}

