.tutorial-box {
  position: fixed;
  z-index: 2000;
  background: #666;
  border-radius: 20px;
  opacity: 0.9;
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  padding: 10px 20px;

  .kbd {
    float: right;
    width: 40%;
    padding-left: 30px;
    box-sizing: border-box;
  }
  td {
    padding-right: 10px;
  }
}

.tutorial {
  position: fixed;
  top: 0;
  right: 10px;
  background: #555;
  z-index: 30;
  padding: 5px 10px;
  font-weight: normal;
  cursor: pointer;
  color: #ddd;
  &:hover {
    color: white;
  }
}
