input.widget {
  position:       absolute;
  background:     transparent;
  border:         none;
  color:          white;
  font-size:      12px;
  vertical-align: top;
  padding:        0;
  margin:         0;
}
