root {
    path     = "$(LUNAROOT)"
    conf     = "$(root.path)/config"
    bin      = "$(root.path)/bin"
}

base {
    path  = "$(root.path)/base"
    bin   = "$(base.path)/bin"
    lib   = "$(base.path)/lib"
    share = "$(base.path)/share"
    pkgDb = "$(base.lib)/package.conf.d"
}

global {
    path  = "$(root.path)/global"
    bin   = "$(global.path)/bin"
    lib   = "$(global.path)/lib"
    share = "$(global.path)/share"
    pkgDb = "$(global.path)/pkgDb"
}

local {
    home  = "$$APPDATA"
    path  = "$(local.home)/flowbox"
    conf  = "$(local.path)/config"
    pkgDb = "$(local.path)/pkgDb"
    cabal = "$(local.path)/cabal"
}

templates {
    path  = "$(root.path)/templates"
    cabal = "$(templates.path)/cabal.config"
}

config {
    flowbox = "$(root.conf)/flowbox.config" 
    cabal   = "$(local.cabal)/cabal.config"
}

tools {
    path     = "$(root.bin)/tools"
    lunac    = "$(tools.path)/lunac"
    batchSrv = "$(tools.path)/batch-srv"
}

wrappers {
    path   = "$(root.bin)/wrappers"
    ghc    = "$(wrappers.path)/ghc"
    ghcPkg = "$(wrappers.path)/ghc-pkg"
    hsc2hs = "$(wrappers.path)/hsc2hs"
    cabal  = "$(wrappers.path)/cabal"
}



bins {
    ghc    = "$(base.bin)/ghc"
    ghcPkg = "$(base.bin)/ghc-pkg"
    hsc2hs = "$(base.bin)/hsc2hs"
    cabal  = "$(base.bin)/cabal"
}

ghc {
    version = "7.8.4"
    topDir  = "$(base.lib)/ghc-$(ghc.version)"
}

bus {
    serverControlEndPoint = "tcp://*:30530"
    serverPullEndPoint    = "tcp://*:30531"
    serverPubEndPoint     = "tcp://*:30532"
    clientControlEndPoint = "tcp://127.0.0.1:30530"
    clientPullEndPoint    = "tcp://127.0.0.1:30531"
    clientPubEndPoint     = "tcp://127.0.0.1:30532"
}
