name = "pacman"

version = "1.1.0-ajg"

source = [
    ["x86", "http://uri/to/package"],
    ["amd", "uri/amd"]
]

install = [
    "unpack",
    "configure",
    "build"
]

uninstall = [
    "rm $(HOME)/.pacman",
    "rm $(HOME)/.pacman"
]

dependencies = [
    "stdlib < 10 && >= 0.1",
    "stdlib.h < 0",
    "stdio.h < 1.2",
    "blo"
]
