paths {
    tools = "./dist/bin/tools"
}

plugins {
    broker          = "$(paths.tools)/broker"
    bus-logger      = "$(paths.tools)/bus-logger"
    project-manager = "$(paths.tools)/project-manager"
    file-manager    = "$(paths.tools)/file-manager"
    parser          = "$(paths.tools)/parser"
}


