paths {
    tools = "./dist/bin/tools"
}

verbosity = ""

plugins {
    broker          = "$(paths.tools)/broker $(verbosity)"
    bus-logger      = "$(paths.tools)/bus-logger $(verbosity)"
    project-manager = "$(paths.tools)/project-manager $(verbosity)"
    file-manager    = "$(paths.tools)/file-manager $(verbosity)"
    parser          = "$(paths.tools)/parser $(verbosity)"
    #interpreter     = "$(paths.tools)/interpreter $(verbosity)"
}


#remote {
#    test {
#        parser = "$(paths.tools)/parser $(verbosity)"
#        parser2 = "$(paths.tools)/parser $(verbosity)"
#        parser3 = "$(paths.tools)/parser $(verbosity)"
#    }
#}