paths {
    tools = "./dist/bin/tools"
}

verbosity = "-v4"

plugins {
    broker          = "$(paths.tools)/broker $(verbosity)"
    bus-logger      = "$(paths.tools)/bus-logger $(verbosity)"
    project-manager = "$(paths.tools)/project-manager $(verbosity)"
    file-manager    = "$(paths.tools)/file-manager $(verbosity)"
    parser          = "$(paths.tools)/parser $(verbosity)"
}


