fs { global = "$(FLOWBOX_FS)"
     usr    = "$(HOME)/.flowbox"
   }

wrappers   = "$(fs.global)/wrappers"          
thirdparty = "$(fs.global)/thirdparty"

config { path  = "$(fs.global)/config"
         cabal = "$(fs.usr)/cabal/config"
       }

ghc { path    = "$(thirdparty)/ghc"
      version = "7.6.3"
      topDir  = "$(ghc.path)/lib/ghc-$(ghc.version)"
      pkgConf = "$(ghc.topDir)/package.conf.d"
    }

cabal { path = "$(thirdparty)/cabal"
        bin  = "$(cabal.path)/bin"
      }


