#ifdef GL_ES
precision highp float;
#endif

varying float distance;
varying float distanceV;

void main() {
    gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
    distance  = uv.y * 2.0 - 1.0;
    distanceV = uv.x * 2.0 - 1.0;
}
