precision mediump float;

uniform float value;
uniform int   rounded;
uniform vec4  color;

<%= require('shaders/stdlib')() %>

void main(void) {
    if (objectMap == 1) {
        gl_FragColor = vec4(objectId, 1.0);
    } else {
        discard;
    }
}
