#define SQRT2 1.4142135623730951

uniform sampler2D map;
uniform float camFactor;
varying vec2 luv;
uniform vec2 texScale;
uniform float offset;

uniform int objectMap;
uniform vec3 objectId;


void main() {
    if (objectMap == 1) {
        gl_FragColor = vec4(objectId, 1.0);
        return;
    }
    vec2 pos;
    pos.x = luv.x / texScale.x;
    pos.y = (1.0 - luv.y) / texScale.y + 1.0 - 1.0 / texScale.y;
    gl_FragColor =  texture2D(map, pos);
}
