#ifdef GL_ES
precision highp float;
#endif

attribute vec3 posL;
attribute vec3 posR;
attribute vec3 posB;
varying vec3 distanceL;
varying vec3 distanceR;
varying vec3 distanceB;

void main() {
    gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
    distanceL = posL;
    distanceR = posR;
    distanceB = posB;
}
