#ifdef GL_ES
precision highp float;
#endif

attribute float pos;
attribute float posV;
varying float distance;
varying float distanceV;

void main() {
    gl_Position = projectionMatrix * modelViewMatrix * vec4(position, 1.0);
    distance = pos;
    distanceV = posV;
}
