#ifdef GL_ES
precision highp float;
#endif

varying vec2 pos;

void main() {
    pos = uv;
    vec2 posM = vec2(position.x, position.y);
    if (position.x > 0.0) {
        posM = vec2(posM.x, posM.y * sqrt(2.0));
    }
    gl_Position = projectionMatrix * modelViewMatrix * vec4(posM, 0.0, 1.0);
}
